@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 769px) {
    body {
      font-size: 100%;
    }
  }
  
  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 768px) {
    body {
      font-size: 100%;
      
    }
    #main{
        width: 100%;
    }
  }

body{
    background-color: rgb(182, 182, 182);
}

#quote{
    font-style: italic;
}
#title-container{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#main{
    margin: auto;
    width: 50%;
    /* border: 3px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: white;
}


.responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
  }