body{
    background-color: blanchedalmond;
}

#quote{
    font-style: italic;
}
#title-container{
    text-align: center;
}
#main{
    margin: auto;
    width: 50%;
    /* border: 3px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    background-color: white;
}


.responsive {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
  }